
<form [formGroup]="DepartureForm"  class="example-form" (submit)="applyChanges(DepartureForm.value)" >

        <input [hidden] = "true" placeholder="-" formControlName="id">
    
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter flightId" formControlName="flightId">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter crewId" formControlName="crewId">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter aircraftId" formControlName="aircraftId">
        </mat-form-field>     

        <input type="time" 
         formControlName="departureTime"
         />
  
         <div class="saveButton">
            <button mat-button  [disabled]="DepartureForm.invalid">Save changes</button>
         </div>  
      
  </form>
