
            <!-- <ul  *ngFor="let stewardess of Crew.stewardesses">
                <li>{{stewardess.name}} {{stewardess.surname}}</li> 
            </ul>        
        -->

<div>
        <button mat-button class="createButton" routerLink="./0">Create new сrew</button>

        <table id="entities">
                <tr>
                  <th>Id</th>
                  <th>Pilot Id</th>
                  <th></th>
                </tr>
                
                <tr *ngFor="let Crew of Crews" >
                  <td  routerLink="./{{Crew.id}}">{{Crew.id}}</td>
                  <td>{{Crew.pilotId}}</td>
                  <td><button mat-button (click)="deleteCrew(Crew.id)">Delete</button></td>
                </tr>
        </table>
    </div>
    
