<div>
    <button routerLink="/crews/0">Create</button>
    <ul  *ngFor="let Crew of Crews | sortFlightsByDeparturePoints:'departurePoint':'asc'">
        <!-- <li routerLink="/flights/{{flight.id}}">{{flight.id}}</li> -->
        <li>{{Crew.pilotId}}</li>
        <li>
            <ul  *ngFor="let stewardess of Crew.stewardesses">
                <li>{{stewardess.name}} {{stewardess.surname}}</li> 
            </ul>        
        </li>
        <li><button (click)="delete(Crew.id)"  routerLink="/Crews">Delete</button></li>
    </ul>
</div>