<!-- <p>
    <li>{{flight.id}}</li>
    <li>{{flight.departurePoint}}</li>
    <li>{{flight.arrivalPoint}}</li>
    <li>{{flight.departureTime}}</li>
    <li>{{flight.arrivalTime}}</li>
    <li routerLink="/flights" (click) = "getFlights()">Go to flight list</li>
</p> -->

<form #f="ngForm" (ngSubmit)="updateFlight(f)" novalidate>
        <div [hidden] = "true">
            <input name="id" ngModel="{{flight.id}}" placeholder="id">
        </div>
        <div>
            <input name="departurePoint"  type="text" 
            ngModel = {{flight.departurePoint}}
            placeholder="departurePoint" >
        </div>
        <div>
            <input name="arrivalPoint"  type="text" 
            ngModel = {{flight.arrivalPoint}}
            placeholder="arrivalPoint" >
        </div>
        <div>
                <input name="departureTime"  type="text" 
                ngModel = {{flight.departureTime}}
                placeholder="departureTime" >
        </div>
        <div>
                    <input name="arrivalTime"  type="text" 
                    ngModel = {{flight.arrivalTime}}
                    placeholder="arrivalTime" >
        </div>
        <button>Save</button>
</form>

                <!-- *ngIf="hero" -->
<!-- <form >
    
        <div >
            <h2>Details</h2>
                <div><span>id: </span>{{flight.id}}</div>
                <div>
                  <label>departurePoint:
                    <input [(ngModel)]="flight.id" placeholder="departure point"/>
                  </label>
                  <label>arrivalPoint:
                        <input [(ngModel)]="flight.arrivalPoint" placeholder="arrivalPoint"/>
                  </label>
                </div>
                <button routerLink="/flights">go back</button>
              </div>
        <button (click) ="updateFlight()">Save</button>
              
</form> -->
