<!-- 
            <ul  *ngFor="let Flight of flight.Flights">
                <li>{{Flight.id}}</li>
                <li>{{Flight.price}}</li>   
            </ul>         -->
   

<div>
        <button mat-button class="createButton" routerLink="./0">Create new Flight</button>

        <table id="entities">
                <tr>
                  <th>departurePoint </th>
                  <th>arrivalPoint</th>
                  <th>departureTime</th>
                  <th>arrivalTime</th>
                  <th></th>
                </tr>
                
                <tr *ngFor="let Flight of flights" >
                  <td  routerLink="./{{Flight.id}}">{{Flight.departurePoint}}</td>
                  <td>{{Flight.arrivalPoint}}</td>
                  <td>{{Flight.departureTime}}</td>
                  <td>{{Flight.arrivalTime}}</td>
                  <td><button mat-button (click)="deleteFlight(Flight.id)">Delete</button></td>
                </tr>
        </table>
    </div>
    
