<div>
        <button mat-button class="createButton" routerLink="./0">Create new TypeAircraft</button>

        <table id="entities">
                <tr>
                  <th >id</th>
                  <th>aircraftModel</th>
                  <th>carryingCapacity</th>
                  <th>numberPlaces</th>
                  <th></th>
                </tr>
                
                <tr *ngFor="let TypeAircraft of TypesAircraft" >
                  <td  routerLink="./{{TypeAircraft.id}}">{{TypeAircraft.id}}</td>
                  <td>{{TypeAircraft.aircraftModel}}</td>
                  <td>{{TypeAircraft.carryingCapacity}}</td>
                  <td>{{TypeAircraft.numberPlaces}}</td>
                  <td><button mat-button (click)="deleteTypeAircraft(TypeAircraft.id)">Delete</button></td>
                </tr>
        </table>
    </div>
    
