
<form [formGroup]="TicketForm" (submit)="applyChanges(TicketForm.value)" >
        <input [hidden] = "true" placeholder="-" formControlName="id">
      
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter price" formControlName="price">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput  placeholder="Enter flightId" formControlName="flightId">
        </mat-form-field>
        
        <div class="saveButton">
            <button mat-button  [disabled]="TicketForm.invalid">Save changes</button>
         </div>  

  </form>
