<div>
        <button mat-button class="createButton" routerLink="./0">Create new departure</button>

        <table id="entities">
                <tr>
                  <th>departureTime</th>
                  <th>flightId</th>
                  <th>crewId</th>
                  <th>aircraftId</th>
                  <th></th>    
                </tr>
                
                <tr *ngFor="let Departure of Departures" >
                  <td  routerLink="./{{Departure.id}}">{{Departure.departureTime}}</td>
                  <td>{{Departure.flightId}}</td>
                  <td>{{Departure.crewId}}</td>
                  <td>{{Departure.aircraftId}}</td>
                  <td><button mat-button (click)="deleteDeparture(Departure.id)">Delete</button></td>
                </tr>
        </table>
    </div>
    
