<div>
    <button routerLink="/Departures/0">Create</button>
    <ul  *ngFor="let Departure of Departures | sortFlightsByDeparturePoints:'departurePoint':'asc'">
        <!-- <li routerLink="/flights/{{flight.id}}">{{flight.id}}</li> -->
        <li>{{Departure.departureTime}}</li>
        <li>{{Departure.flightId}}</li>
        <li>{{Departure.crewId}}</li>
        <li>{{Departure.aircraftId}}</li>
        <li><button (click)="delete(Departure.id)"  routerLink="/Departures">Delete</button></li>
    </ul>
</div>