<form [formGroup]="TypeAircraftForm" (submit)="applyChanges(TypeAircraftForm.value)" >
    <div class="form-group">
  
   
        <input [hidden] = "true" placeholder="-" formControlName="id">
    
        <input  placeholder="Enter aircraftModel" formControlName="aircraftModel">
  
        <input  placeholder="Enter numberPlaces" formControlName="numberPlaces">
  
         <input  placeholder="Enter carryingCapacity" formControlName="carryingCapacity">
  
      <input type="submit" class="button expanded" value="Save changes" [disabled]="TypeAircraftForm.invalid">
    </div>
  </form>