<form [formGroup]="TypeAircraftForm" class="example-form" (submit)="applyChanges(TypeAircraftForm.value)" >
        <input [hidden] = "true" placeholder="-" formControlName="id">
  
         <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter aircraftModel" formControlName="aircraftModel">
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter numberPlaces" formControlName="numberPlaces">
          </mat-form-field>

         <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter carryingCapacity" formControlName="carryingCapacity">
        </mat-form-field>
        
        <div class="saveButton">
            <button mat-button  [disabled]="TypeAircraftForm.invalid">Save changes</button>
         </div> 

  </form>
