    <div>
        <button mat-button class="createButton" routerLink="./0">Create new aircraft</button>

        <table id="entities">
                <tr>
                  <th >Aircraft Name </th>
                  <th>Date release</th>
                  <th>Lifetime</th>
                  <th></th>
                </tr>
                
                <tr *ngFor="let Aircraft of Aircrafts" >
                  <td  routerLink="./{{Aircraft.id}}">{{Aircraft.aircraftName}}</td>
                  <td>{{Aircraft.dateRelease | date: 'longDate'}}</td>
                  <td>{{Aircraft.lifetime}}</td>
                  <td><button mat-button (click)="deleteAircraft(Aircraft.id)">Delete</button></td>
                </tr>
        </table>
    </div>
    
