
<form [formGroup]="FlightForm" class="example-form" (submit)="applyChanges(FlightForm.value)" >
  
        <input [hidden] = "true" placeholder="-" formControlName="id">

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter departurePoint" formControlName="departurePoint">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter arrivalPoint" formControlName="arrivalPoint">
        </mat-form-field>

        
        <input type="time" placeholder="Enter departureTime" formControlName="departureTime">

        <input type="time"  placeholder="Enter arrivalTime" formControlName="arrivalTime">
  
      <div class="saveButton">
          <button mat-button  [disabled]="FlightForm.invalid">Save changes</button>
       </div>  
</form>
