
<form [formGroup]="FlightForm" (submit)="applyChanges(FlightForm.value)" >
    <div class="form-group">
  
   
        <input [hidden] = "true" placeholder="-" formControlName="id">

        <input  placeholder="Enter departurePoint" formControlName="departurePoint">

        <input  placeholder="Enter arrivalPoint" formControlName="arrivalPoint">
  
        <input type="time" placeholder="Enter departureTime" formControlName="departureTime">

         <input type="time"  placeholder="Enter arrivalTime" formControlName="arrivalTime">
  
  
      <input type="submit" class="button expanded" value="Save changes" [disabled]="FlightForm.invalid">
    </div>
  </form>