<div>
        <button mat-button class="createButton" routerLink="./0">Create new </button>

        <table id="entities">
                <tr>
                  <th>name</th>
                  <th>surname</th>
                  <th>experience</th>
                  <th>dateBirth</th>
                  <th></th>
                </tr>
                
                <tr *ngFor="let Pilot of Pilots" >
                  <td  routerLink="./{{Pilot.id}}">{{Pilot.name}}</td>
                  <td>{{Pilot.surname}}</td>
                  <td>{{Pilot.experience}}</td>
                  <td>{{Pilot.dateBirth | date: 'longDate'}}</td>
                  <td><button mat-button (click)="deletePilot(Pilot.id)">Delete</button></td>
                </tr>
        </table>
    </div>
    